.contact-page-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 150px;
    height: fit-content;
    flex-wrap: wrap;
    width: 80%;
    margin: 0% 10%;
}
.contact-page-container h1{
    word-spacing: 10px;
    letter-spacing: 80%;
    font-size: 200px;

    font-weight: lighter;
    font-family: 'Cinzel Decorative', cursive;
}

.contact-page-container h1 img{
    width: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
    animation: animate-rotate 10s infinite linear;
}
form {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    flex-grow: 1;
    min-width: 200px;
    gap: 1rem;
  
}

form > input, textarea {
    width: 100%;
    padding: 1rem;
    font-family: 'Inter';
}
textarea {
    align-items: stretch;
}
.contact-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
button{
    align-self: flex-end;
    border-radius: 0;
    border: none;
    color: white;
    font-size: medium;
    padding: 0.5rem 1rem;
    background-color: black;
    font-family: 'Inter';
}
@keyframes animate-rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media (max-width: 900px) {
    .contact-page-container h1{
        font-size: 100px;
        line-height: 88%;
    }

}
@media (max-width: 500px) {
    .contact-page-container h1{
        font-size: 80px;
    }
    .contact-page-container h1 img{
        width: 50px;
    }
}